<mat-card>
    <mat-card-header class="p-0-card-header">
        <mat-toolbar  fxLayout="row" fxLayoutAlign="space-between center">
            <span class="fill-remaining-space">Add New Tenant</span>
        </mat-toolbar>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="Tenantform" (ngSubmit)="onSubmit()" style="padding: 16px;">
            <mat-stepper [linear]="true" #stepper>
                <mat-step>
                    <ng-template matStepLabel>Fill out Tenant</ng-template>
                    <div  fxLayout="row wrap" fxFlex="100%" fxLayoutGap="1%" style="padding-top: 5px;">
                         <mat-form-field appearance="outline" fxFlex="51%">
                            <mat-label>Tenant Name</mat-label>
                            <input matInput placeholder="enter Tenant Name" formControlName="name">
                            <mat-error *ngIf="!f['name'].errors && f['name'].touched">
                                Invalid Tenant Name Input
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="51%">
                            <mat-label>Database Name</mat-label>
                            <input matInput placeholder="enter Database Name" formControlName="databaseName">
                            <mat-error *ngIf="!f['databaseName'].errors && f['databaseName'].touched">
                                Invalid Database Name Input
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" [fxFlex]="51">
                            <mat-label>tenant Group Name</mat-label>
                            <mat-select matNativeControl required formControlName="tenantGroupTypeId">
                                <mat-option *ngFor="let tenantGroup  of TenantGroupTypeList"
                                    [value]="tenantGroup.id">{{tenantGroup.typeName}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="!f['tenantGroupTypeId'].errors && f['tenantGroupTypeId'].touched">
                                Invalid tenant Group Name Input
                            </mat-error>
                        </mat-form-field>
                        <div class="mat-form-field" appearance="outline" [fxFlex]="51">
                            <mat-checkbox matInput formControlName="createNewDatabase">Create New Database</mat-checkbox>
                        </div>
                    </div>
                    <div  fxLayout="row wrap">
                        <button  fxLayout="row" type="button" mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>    
                    <ng-template  matStepLabel>Fill out Admin User</ng-template>
                    <ng-template  #userFrom >
                        <mat-card>
                            <mat-card-header class="p-0-card-header">
                                <mat-toolbar  color="primary"  class="device-form-toolbar mat-elevation-z4" fxLayout="row" fxLayoutAlign="space-between center">
                                    <!-- <button mat-icon-button style="margin-right: 24px;"><mat-icon>arrow_back</mat-icon></button> -->
                                    <span>add Tenant User </span>
                                    <button #btnClose matDialogClose mat-icon-button>
                                        <mat-icon>close</mat-icon>
                                    </button>
                                    <!-- (click)="OpenAddDialog(addTemplate)" -->
                                </mat-toolbar>
                            </mat-card-header>
                            <mat-card-content>
                               
                            </mat-card-content>
                            <mat-card-footer>
                              
                              </mat-card-footer>
                        </mat-card>
                 
                    </ng-template>
                    <button mat-raised-button (click)="addUser()">Add</button>
                    <div class="tableFixHead">
                        <table>
                            <thead>
                                <tr class="red">
                                    <th>email</th>
                                    <th>Phone Number</th>
                                    <th>Password</th>
                                    <th>Tenant User Id</th>
                                    <th>Admin</th>
                                    <th>is POS User</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody formArrayName="users">
                                <tr *ngFor="let item of getUsersControls  let i = index;" [formGroupName]="i">
                                <td>
                                    <mat-form-field appearance="outline" >
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="enter Email" formControlName="email">
                                    <mat-error *ngIf="!getUsersControls[i].get('email')?.errors && getUsersControls[i].get('email')?.touched">
                                        Invalid Email Input
                                    </mat-error>
                                </mat-form-field>
                            </td>
                                <td>
                                    <mat-form-field appearance="outline" >
                                        <mat-label>Phone Number</mat-label>
                                        <input matInput placeholder="enter Phone Number" formControlName="phoneNumber">
                                        <mat-error *ngIf="!getUsersControls[i].get('phoneNumber')?.errors && getUsersControls[i].get('phoneNumber')?.touched">
                                            Invalid Phone Number Input
                                        </mat-error>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field appearance="outline" >
                                        <mat-label>Password</mat-label>
                                        <input matInput placeholder="enter Password" formControlName="password">
                                        <mat-error *ngIf="!getUsersControls[i].get('password')?.errors && getUsersControls[i].get('password')?.touched">
                                            Invalid Password Input
                                        </mat-error>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field appearance="outline" [ngStyle]="{'width': '8rem'}">
                                        <mat-label>Tenant User Id</mat-label>
                                        <input matInput placeholder="enter Password" formControlName="tenantUserId" type="number">
                                        <mat-error *ngIf="!getUsersControls[i].get('tenantUserId')?.errors && getUsersControls[i].get('tenantUserId')?.touched">
                                            Invalid Tenant User Id Input
                                        </mat-error>
                                    </mat-form-field>
                                </td>
                                <td>
                                        <mat-checkbox matInput formControlName="admin"  color="primary"(change)="setAdmin(i)"></mat-checkbox>
                                </td>
                                <td>
                                        <mat-checkbox matInput formControlName="isPOSUser"  color="primary"(change)="setAdmin(i)"></mat-checkbox>
                                </td>
                                <td>
                                    <mat-icon (click)="removeUser(i)" [ngStyle]="{'color': 'red'}">delete</mat-icon>
                                </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                  
                    <br>
                    <button type="button" mat-raised-button color="primary" matStepperPrevious>Back</button>
                    <button type="button" mat-raised-button color="primary" matStepperNext>Next</button>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Review</ng-template>
                    <div fxLayout="row wrap" fxFlex="100%" fxLayoutGap="1%" style="padding-top: 5px;">
                        <br>
                        <button type="button" mat-raised-button color="primary" matStepperPrevious>Back</button>
                        <button type="button" mat-raised-button color="primary" matStepperNext>Next</button>
                        <button type="button" mat-raised-button color="accent" type="submit">Submit</button>
                    </div>
                </mat-step>
            </mat-stepper>
        </form>
    </mat-card-content>
</mat-card>


