.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0px 0 9px 0;
    height: 16px;
}
table thead th {
  
    position: sticky;
    top: 0;
  }
  .tableFixHead {
    overflow-y: auto; /* make the table scrollable if height is more than 30rem px  */
    height: 30rem; /* gives an initial height of 200px to the table */
    border: 1px solid lightslategray;

  }
  tr th {
    background: #1976d2;
    color: white;
    height: 2rem;
    width: 2rem;
  }
  table {
    border-collapse: collapse; 
    width: 100%;
  }
  
 
  