<mat-card style="margin: 1rem;">
    <mat-card-header class="p-0-card-header">
        <mat-toolbar  fxLayout="row" fxLayoutAlign="space-between center">
            <span class="fill-remaining-space">Update Tenant</span>
           <span> 
            <button mat-raised-button color="accent" (click)="OpenAddDialog(AddNewUserToTenant)">Add New User</button>
            <button mat-raised-button color="accent" (click)="OpenSubscriptionDialog(AddNewSubscriptionToTenant)">New Subscription</button>
            <button mat-raised-button color="accent" (click)="OpenTenantSubscriptionsDialog(TenantSubscriptions)">Tenant Subscriptions</button>
            <!-- <button mat-raised-button color="accent">Add Exist User</button>
            <button mat-raised-button color="accent">Accent</button> -->
    </span>
        </mat-toolbar>
        
        
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="Tenantform" (ngSubmit)="onSubmit()" style="padding: 16px;">
            <div  fxLayout="row wrap" fxLayoutGap="1%" style="padding-top: 5px;" fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex="49%">
                   <mat-label>Tenant Name</mat-label>
                   <input matInput placeholder="enter Tenant Name" formControlName="name">
                   <mat-error *ngIf="!f['name'].errors && f['name'].touched">
                       Invalid Tenant Name Input
                   </mat-error>
               </mat-form-field>
               <mat-form-field appearance="outline" fxFlex="49%">
                   <mat-label>Database Name</mat-label>
                   <input matInput placeholder="enter Database Name" formControlName="databaseName">
                   <mat-error *ngIf="!f['databaseName'].errors && f['databaseName'].touched">
                       Invalid Database Name Input
                   </mat-error>
               </mat-form-field>
               <mat-form-field appearance="outline" [fxFlex]="49">
                   <mat-label>tenant Group Name</mat-label>
                   <mat-select matNativeControl required formControlName="tenantGroupTypeId">
                       <mat-option *ngFor="let tenantGroup  of TenantGroupTypeList"
                           [value]="tenantGroup.id">{{tenantGroup.typeName}}</mat-option>
                   </mat-select>
                   <mat-error *ngIf="!f['tenantGroupTypeId'].errors && f['tenantGroupTypeId'].touched">
                       Invalid tenant Group Name Input
                   </mat-error>
               </mat-form-field>
               <div  fxFlex="100%" > 
                <button type="button"  mat-icon-button (click)="addUser()">
                    <mat-icon>add</mat-icon>
                </button>            </div>
              
               <div class="tableFixHead" [fxFlex]="100">
                <table>
                    <thead>
                        <tr class="red">
                            <th>User Name</th>
                            <th>email</th>
                            <th>Phone Number</th>
                            <th>Tenant User Id</th>
                            <th>Time Added</th>
                            <th>Admin</th>
                            <th>is Active</th>
                            <th>is POS User</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="users">
                        <tr *ngFor="let item of getUsersControls  let i = index;" [formGroupName]="i">
                        <td>
                                <mat-form-field appearance="outline" >
                                <mat-label>User Name</mat-label>
                                <mat-select #users  matNativeControl required formControlName="userId" 
                                (selectionChange)="ChangeUser(i)">
                                <mat-option>
                                    <lib-mat-select-search
                                      [list]="_userList"
                                      [searchProperties]="['id', 'userName']"
                                      (filtered)="_filteredUserList = $event">
                                    </lib-mat-select-search>
                                </mat-option>
                                    <mat-option *ngFor="let user  of _filteredUserList"
                                        [value]="user.id">{{user.userName}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="!getUsersControls[i].get('userName')?.errors && getUsersControls[i].get('userName')?.touched">
                                    Invalid User Name Input
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="outline" >
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="enter Email" formControlName="email">
                            <mat-error *ngIf="!getUsersControls[i].get('email')?.errors && getUsersControls[i].get('email')?.touched">
                                Invalid Email Input
                            </mat-error>
                        </mat-form-field>
                    </td>
                        <td>
                            <mat-form-field appearance="outline"  [ngStyle]="{'width': '8rem'}">
                                <mat-label>Phone Number</mat-label>
                                <input matInput placeholder="enter Phone Number" formControlName="phoneNumber">
                                <mat-error *ngIf="!getUsersControls[i].get('phoneNumber')?.errors && getUsersControls[i].get('phoneNumber')?.touched">
                                    Invalid Phone Number Input
                                </mat-error>
                            </mat-form-field>
                        </td>
                        
                        <td>
                            <mat-form-field appearance="outline" [ngStyle]="{'width': '5rem'}">
                                <mat-label>Tenant User Id</mat-label>
                                <input matInput placeholder="enter Tenant User Id" formControlName="tenantUserId" type="number">
                                <mat-error *ngIf="!getUsersControls[i].get('tenantUserId')?.errors && getUsersControls[i].get('tenantUserId')?.touched">
                                    Invalid Tenant User Id Input
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="outline" [ngStyle]="{'width': '8rem'}">
                                <mat-label>Time Added</mat-label>
                                <input matInput placeholder="time Added" formControlName="timeAdded" type="text">
                               
                            </mat-form-field>
                        </td>
                        <td>
                                <mat-checkbox matInput formControlName="groupAdmin"  color="primary"(change)="setAdmin(i)"></mat-checkbox>
                        </td>
                        <td>
                                <mat-checkbox matInput formControlName="isActive"  color="primary" ></mat-checkbox>
                        </td>
                        <td>
                                <mat-checkbox matInput formControlName="isPOSUser"  color="primary" ></mat-checkbox>
                        </td>
                        <td>
                            <mat-icon (click)="removeTenat(i)" [ngStyle]="{'color': 'red'}">delete</mat-icon>
                        </td>
                        </tr>
                    </tbody>
                    
                </table>

            </div>
            <div fxFlex="99%" fxLayoutAlign="end center" class="mt-1">
                <button type="button" mat-raised-button color="accent" type="submit">Submit</button>
            </div>
           </div>
           
        </form>
    </mat-card-content>
</mat-card>
<ng-template #AddNewUserToTenant>
    <app-add-new-user-to-tenant [TenantId]="TenantId"></app-add-new-user-to-tenant>
</ng-template>
<ng-template #AddNewSubscriptionToTenant>
    <app-add-order [TenantData]="{tenantName:Tenantform.value.name,tenantId:Tenantform.value.id}"></app-add-order>
</ng-template>
<ng-template #TenantSubscriptions>
            <mat-toolbar  fxLayout="row" fxLayoutAlign="space-between center">
                <span class="fill-remaining-space">Tenant Subscriptions</span>
            </mat-toolbar>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="TenantSubscriptionDataSource">
                    <!-- validFrom Column -->
                    <ng-container matColumnDef="validFrom">
                        <th mat-header-cell *matHeaderCellDef> Start Date. </th>
                        <td mat-cell *matCellDef="let element"> {{element.validFrom |date:'dd-MM-yyyy'}} </td>
                    </ng-container>
                    <!-- trialPeriodEndDate Column -->
                    <ng-container matColumnDef="validTo">
                        <th mat-header-cell *matHeaderCellDef> End Date. </th>
                        <td mat-cell *matCellDef="let element"> {{element.validTo |date:'dd-MM-yyyy'}} </td>
                    </ng-container>
                     <!-- trialPeriodEndDate Column -->
                     <ng-container matColumnDef="planName">
                        <th mat-header-cell *matHeaderCellDef> plan Name. </th>
                        <td mat-cell *matCellDef="let element"> {{element.planName }} </td>
                    </ng-container>
                    <!-- numberOfCurrentUser Column -->
                    <ng-container matColumnDef="numberOfCurrentUser">
                        <th mat-header-cell *matHeaderCellDef> number Of User. </th>
                        <td mat-cell *matCellDef="let element"> {{element.numberOfCurrentUser}} </td>
                    </ng-container>
                    <!-- numberOfCurrentUserPOS Column -->
                    <ng-container matColumnDef="numberOfCurrentUserPos">
                        <th mat-header-cell *matHeaderCellDef> number Of POS.</th>
                        <td mat-cell *matCellDef="let element"> {{element.numberOfCurrentUserPos}} </td>
                    </ng-container>
                    <!-- dateSubscribed Column -->
                    <ng-container matColumnDef="notes">
                        <th mat-header-cell *matHeaderCellDef> notes. </th>
                        <td mat-cell *matCellDef="let element"> {{element.notes}} </td>
                    </ng-container>
                    <!-- validTo Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> status .</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon *ngIf="element.status==1" style="color: greenyellow;">check_circle_outline</mat-icon> 
                            <mat-icon *ngIf="element.status!=1" style="color: red;">close</mat-icon> 
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> action .</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-fab  (click)="upgrate(element.subscriptionId)">
                                <mat-icon>arrow_upward</mat-icon>
                                
                              </button>                              
                        </td>
                    </ng-container>
                    <!-- dateUnsubscribed Column -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row let i=index; columns: displayedColumns;" >
                </table>
            </div>
</ng-template>
