.mat-mdc-form-field-flex > .mat-mdc-form-field-infix {
    padding: 0.4em 0px !important;
    min-height: 40px;
 }
 .mat-mdc-form-field-label-wrapper { top: -1.5em; }
  .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label{
   transform: translateY(-1.1em) scale(.75);
   width: 133.33333%;
 }
 .tableFixHead .mat-mdc-form-field {
    padding-top: 10px;
 }
 .tableFixHead .mat-mdc-form-field-subscript-wrapper{
   display: none;
 }