.mt-2{
    margin-top: 20px;
}
.mt-1{
    margin-top: 10px;
}
.line{
    border-bottom: 1px dotted #b8b1b1 ;
}
.btn-submit{
//     bottom: 0;
//   right: 0;
//   position: absolute;
//   margin-right: 12px;
//   margin-bottom: 15px;
display: flex;
justify-content: end;

}