

<mat-sidenav-container autosize >
	<mat-sidenav #sidenav   fixedInViewport="true"   mode="side" opened="{{ isExpanded }}">
	  <app-side-nav-item (toggleMenu)="toggleMenu()" [isExpanded]="isExpanded" >
	  </app-side-nav-item>
	</mat-sidenav>
	<mat-sidenav-content [style.margin-left.px]="!isExpanded ? 60 : 250">
	  <div class="content-container">
		<app-top-nav [isExpanded]="isExpanded" (isExpandedOutput)="toggleMenu()"></app-top-nav>
		<div class="scroll-overflow">
			<ng-container *ngTemplateOutlet="defaultContent"></ng-container>
		</div>
		<app-footer [isExpanded]="isExpanded" ></app-footer>
	</div>
	</mat-sidenav-content>
  </mat-sidenav-container>

<ng-template #defaultContent>
    <ng-content></ng-content>
</ng-template>


<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->