<section  [class.sidenav]="isExpanded">
<div class="toggle">
  <img [src]="!isExpanded? 'assets/OssolLogo.png' :'assets/rowadbrand.png'"  />
   
  </div>
  <mat-list class="nav" *ngFor="let route of routeLinks">
    <a mat-list-item  routerLinkActive="active-link" class="hover" routerLink="{{ route.link }}">
      <mat-icon   mat-list-icon  [matTooltip]="!isExpanded ? route.name : ''"   matTooltipPosition="right"> {{ route.icon }}</mat-icon>
        <span  *ngIf="isExpanded">{{ route.name }}</span>    
    </a>
  </mat-list>
  <!-- <div class="submenu"  [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded || sideNavItem.submenu ">
    <app-side-nav-item *ngFor="let submenuItem of sideNavItem.submenu" [sideNavItem]="submenuItem"></app-side-nav-item>
</div>
  -->
</section>


