
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

mat-sidenav[style] {
  visibility: visible !important;
}
.mat-drawer {
  transform: none !important;
}




.sidenav {
  width: 250px;
}

.toggle {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
  &:hover {
    cursor: pointer;
  }
  img{
    width: 3rem
  }
}

.nav {
  .active-link {
    background-color: #d9d9d9;
    border-left: solid 3px #1976d2;
  }

 

  mat-list-item,
  a {
    border-left: solid 3px transparent;
    box-sizing: border-box;
    text-decoration: none;
    &:hover {
      cursor: pointer;
    background-color: #d9d9d9;
    border-left: solid 3px #1976d2;
    mat-icon {
      color: #0d7ae7;
    }
    }
  }
  mat-icon {
    color: #1976d2;
  }
}

.mat-drawer[style*="visibility: hidden"] {
  display: unset !important ;
}
.mat-toolbar.mat-primary {
  background: #1976d2;
  color: #fff;
}
// override material inline style to allow mini nav state
mat-sidenav[style] {
  visibility: visible !important;
}
.mat-drawer {
  transform: none !important;
}
.scroll-overflow{
  height: calc(100vh - 64px);
  display: block;
  overflow-y: auto;
}
.p-0-card-header {
  padding: unset !important;
}
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '@angular/material/theming';

$achieve-primary: (
  50: #bac6ff,
  100: #6f82e4,
  200: #6478d9,
  300: #4254ad,
  400: #36479c,
  500: #24327b,
  600: #212e74,
  700: #1b2769,
  800: #111b55,
  900: #0c1447,
  A100: #716fe4,
  A200: #6664d9,
  A400: #3d369c,
  A700: #2d1b69,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$achieve-red: (
  50: #ff7396,
  100: #eb5278,
  200: #d43f64,
  300: #c33357,
  400: #b1274a,
  500: #a12041,
  600: #951d3b,
  700: #881935,
  800: #7c152f,
  900: #6e1028,
  A100: #eb5299,
  A200: #d43f84,
  A400: #b1275c,
  A700: #881944,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$primary: mat-color(mat-palette($achieve-primary));
$accent: mat-color(mat-palette($achieve-primary, A200, A100, A400));
$error: #a12041;
$background: map-get($mat-light-theme-background, 'background');
$success: #8bc34a;

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.blue-snackbar {
    background: $primary;
}

.success-snackbar {
    background: $success;
}

.error-snackbar {
    background: $error;
}
.mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #ffffff;

  &.app-notification-error {
    --mdc-snackbar-container-color: #f23a2f;
  }

  &.app-notification-success {
    --mdc-snackbar-container-color: #43a446;
  }
}
::ng-deep.mat-form-field-disabled .mat-form-field-underline 
{ 
background-image: linear-gradient( to right, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0.42) 33%, #c2c7cc 0 ) !important; 
background-size: 1px 100% !important;
 background-repeat: repeat-x !important; 
} 
.mat-dialog-actions {
  justify-content: flex-end;
}
::ng-deep .mat-mdc-form-field-flex > .mat-mdc-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-mdc-form-field-appearance-outline.mat-form--mdcfield-can-float.mat-form-mdc-field-should-float .mat-form-mdc-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
.mat-paginator-sticky {
  bottom:0px;
  position: sticky;
  z-index: 10;
}
.mat-mdc-card-content {
  max-height: 500px;
  overflow-y: auto;
}
